<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	 <!--Encrypt your connection strings (See https://msdn.microsoft.com/en-us/library/dtkwfdky.aspx). -->

	<add
		name="SmartRPDbContext"
		connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=smartrp190130;Integrated Security=SSPI;"
		providerName="System.Data.SqlClient"
		/>
<!-- 
<add name="SmartRPDbContext" 
	connectionString="Server=tcp:thefirstdb.database.windows.net,1433;Initial Catalog=smartdb;Persist Security Info=False;
	User ID=firstadmin;Password=the.first.2017;MultipleActiveResultSets=False;Encrypt=True;
	TrustServerCertificate=False;Connection Timeout=60;" 
	providerName="System.Data.SqlClient" 
	/>-->

 
  <!--<add name="SmartRPDbContext" 
	connectionString="Server=tcp:rputsadmin.database.windows.net,1433;Initial Catalog=smartrp202;
  Persist Security Info=False;User ID=rputs2017db;Password=rpUTS2017;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" 
	providerName="System.Data.SqlClient" />-->
 

</connectionStrings>
 
