<div class="alert alert-danger alert-dismissable fade in">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<h3><strong>Notice:</strong> Working in process, will be available soon.</h3>
</div>

<hr />
<button onclick="goBack()" class="btn btn-default">Go Back</button>
<script>
				function goBack() {
					window.history.back();
				}
</script>