<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header alert alert-success">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Project Status Explaination</h4>
			</div>
			<div class="modal-body">
				<dl>
					<dt>Pending</dt>
					<dd>- The proposer posted the project</dd>
					<dt>Registered</dt>
					<dd>- The group size has fulled</dd>
					<dt>InProcess</dt>
					<dd>- The supervisor or coordinator has picked up the project</dd>
					<dt>Completed</dt>
					<dd>- The project has uploaded the form proposal</dd>
					<dt>Withdrawn</dt>
					<dd>- The proposer has withdrew the project</dd>
				</dl> 
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>
