@{
	ViewBag.Title = "Forgot Password Confirmation";
}

<h1 class="page-header">
	Done!
</h1>

<div>
	Please check your email to reset your password. The email confirmation tokens will expire in 5 minutes.
</div>